# Feature Flag examples
VITE_FEATURE_OFFLINE_MODE=false
VITE_FEATURE_NEW_LABEL_GENERATOR=false
VITE_FEATURE_SUBCONTRACTOR_LOGIN=false


# User claims example for local development
# [
#   {
#     "typ": "name",
#     "val": "Philip Salter"
#   }
# ]